@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="span7">
<h2>About</h2>
<p>Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></p>
<p>Download at <a href="https://github.com/NathanLaan/KB">GitHub</a></p>
</div>
</div>