@model KB.Lib.Entity.Entry

<div class="row">
    <div class="span7">
        @Model.Contents
        <br />
        <br />
    </div>
    <div class="span5">
        Posted by: <a href="/account/details/@Model.Author.ID">@Model.Author.Name</a><br />
        @Model.Timestamp
    </div>
</div>
<hr />