@model KB.Web.Models.EntryIndexModel

@{
    ViewBag.Title = "KB Entries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Latest Entries</h2>

@foreach (var entry in @Model.EntryList) {
<hr />
<div class="row">
    <div class="span7">
        <h2><a href="/entry/details/@entry.ID">@entry.Title</a></h2>
    </div>
    <div class="span5">
        Posted by: <a href="/account/details/@entry.Author.ID">@entry.Author.Name</a><br />
        @entry.Timestamp
    </div>
</div>
}